services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    env_file:
      - ../.env
    volumes:
      - ../..:/workspaces
      - pnpm-store:/home/node/.pnpm-store
    command: sleep infinity
  db:
    image: postgres:18-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: dashboard_db

volumes:
  postgres-data:
  pnpm-store: